# no need to specify anything as long as you're ok with these defaults
users:
  jmxtrans:
    uid: 6095

jmxtrans:
  version: 1.0.1
  source_url: # a default URL is provided
  prefix: /usr/lib/jmxtrans
  config:
    log_level: error
    directory: /etc/jmxtrans/conf
    json_directory: /etc/jmxtrans/json

java_home: /usr/lib/java

